.sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sidebar img{
    width: 60px;
    cursor: pointer;
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 0;
    transition: 300ms;
}
.sidebar-list_active{
    height: 300px;
}
.sidebar-list_items{
    cursor: pointer;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    list-style: none;
}